## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = set(random.sample(range(100), k=80))
print(sample_list_1)

{0, 1, 2, 3, 5, 7, 8, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 55, 56, 57, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 98, 99}

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = sample_list_1
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = random.sample(range(100), k=80)
print(sample_list_2)

[62, 96, 88, 68, 81, 63, 9, 78, 48, 37, 72, 8, 59, 82, 39, 56, 95, 43, 20, 22, 76, 67, 18, 31, 24, 99, 51, 94, 32, 89, 1, 28, 12, 36, 38, 2, 73, 69, 40, 33, 83, 57, 65, 14, 10, 61, 35, 27, 74, 71, 50, 93, 66, 34, 55, 19, 53, 4, 46, 29, 84, 15, 54, 7, 87, 11, 86, 92, 30, 47, 16, 64, 77, 17, 52, 90, 79, 91, 0, 5]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print(len(sample_list_2))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1.difference(set2)
set3

{3, 13, 23, 25, 26, 42, 44, 45, 60, 70, 80, 85, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2.difference(set1)
set4

{4, 9, 10, 11, 29, 38, 54, 59, 69, 74, 88, 95, 96}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1&set2

print(set5)

{0, 1, 2, 5, 7, 8, 12, 14, 15, 16, 17, 18, 19, 20, 22, 24, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 43, 46, 47, 48, 50, 51, 52, 53, 55, 56, 57, 61, 62, 63, 64, 65, 66, 67, 68, 71, 72, 73, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 89, 90, 91, 92, 93, 94, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [30]:
# Your code here


if len(set1) == len(set3) + len(set5):
    print("Set1 es igual a la suma de set3 y set5")
if len(set2) == len(set4) + len(set5):
    print("Set2 es igual a la suma de set3 y set5")
if len(set5) == len(set1) - len(set3):
    print("Set5 es igual a la resta de set1 y set3")
if len(set5) == len(set2) - len(set4):
    print("Set5 es igual a la resta de set2 y set4")

Set1 es igual a la suma de set3 y set5
Set2 es igual a la suma de set3 y set5
Set5 es igual a la resta de set1 y set3
Set5 es igual a la resta de set2 y set4

#### Create an empty set called `set6`.

In [46]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [47]:
# Your code here
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [48]:
# Your code here
if set6 == set1:
    print("Set 1 and set 6 are equal")

Set 1 and set 6 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [49]:
# Your code here
print("多set1 contiene los elementos de set2?",set1.issubset(set2))
print("多set1 contiene los elementos de set2?",set1.issubset(set3))

多set1 contiene los elementos de set2? False
多set1 contiene los elementos de set2? False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [50]:
# Your code here
set7 = set.union(set3,set4,set5)
set8 = set.union(set1, set2)
if set7 == set8:
    print("True")

True

#### Using the `pop` method, remove the first element from `set1`.

In [51]:
# Your code here
nuevo=set1.pop()
nuevo
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 11, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 26, 27, 28, 29, 30, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 73, 74, 75, 76, 77, 82, 83, 85, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [55]:
# Your code here
list_to_remove = set([1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99])

In [57]:
list_to_remove.difference_update(set1)
print(list_to_remove)

{99, 71, 9, 79, 81, 31}