In [1]:
import sqlalchemy as db
from getpass import getpass

In [2]:
password = getpass("Mysql Password: ")

Mysql Password: ········

In [4]:
dbName = "Publications"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [9]:
engine = db.create_engine(connectionData)
print("Connected to server!")

Connected to server!

In [10]:
import pandas as pd

In [15]:
ejercicio1 = pd.read_sql_query("""
SELECT a.au_id AUTHOR_ID, a.au_lname LAST_NAME, a.au_fname FIRST_NAME, t.title AS TITLE, p.pub_name AS PUBLISHER
	FROM authors AS a
	INNER JOIN titleauthor AS ta ON a.au_id = ta.au_id
    INNER JOIN titles AS t ON ta.title_id = t.title_id
    INNER JOIN publishers AS p ON t.pub_id = p.pub_id
""", engine)
ejercicio1.head()

,AUTHOR_ID,LAST_NAME,FIRST_NAME,TITLE,PUBLISHER
0,213-46-8915,Green,Marjorie,The Busy Executive's Database Guide,Algodata Infosystems
1,409-56-7008,Bennet,Abraham,The Busy Executive's Database Guide,Algodata Infosystems
2,267-41-2394,O'Leary,Michael,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
3,724-80-9391,MacFeather,Stearns,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
4,213-46-8915,Green,Marjorie,You Can Combat Computer Stress!,New Moon Books